* {
	padding: 0;
	margin: 0;
}

html {
	font-size: 10px;
}

.tile {
	display: inline-block;
	width: calc(100% / 3);
	height: 9rem;
	text-align: center;
	background: no-repeat center;
	background-size: 8rem;
}
