html {
  font-size: 10px;
}

html, body, .icons {
  height: 100%;
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment:fixed;
}

#scrollable{
    background: rgba(0, 0, 0, 0.1);
}

.icons {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  will-change: scroll-position;
}

.icon {
  position: absolute;
  transform-origin: 0 0;
  will-change: transform;
  display: inline-block;
  width: calc(100% / 3);
  height: 9rem;
  text-align: center;
  background: no-repeat center;
  background-size: 8rem;
  transition: transform 500ms ease;
}

.icon .title {
  display: block;
  margin-top: 9rem;
  pointer-events: none;
  color: #fff;
  font-size: 1.4rem;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

.icon.active {
  transition: none;
}

span.options{
  position: absolute;
  top: .1rem;
  left: .5rem;
  width: calc(100% - .5rem);
  height: 2.5rem;
  z-index: 15; /* So the Delete button will be above the collections' circle */
  background: url(../icons/remove.png) no-repeat left top / 2.4rem;
  visibility: hidden
}

.icon[removeable="true"] > .options{
    visibility: visible;
}

.divider {
  position: absolute;
  height: 0.2rem;
  margin: 2.4rem 8rem;
  background: rgba(255, 255, 255, 0.8);
  width: calc(100% - 16rem);
  transition: transform 500ms ease;
}

.divider:last-child {
  visibility: hidden;
}

.edit-mode .divider:last-child {
  visibility: visible;
}

